.itemContainer {
  display: flex;
  background-color: white;
  border-style: solid;
  border-color: rgb(0, 119, 182);
  padding: 0.5%;
  .itemDetailImage {
    height: 400px;
    width: 400px;
    margin: 2.5%;
  }
  .itemDetailName {
    text-align: center;
    text-transform: uppercase;
  }
  .itemDetailDescription {
    margin: 2.5%;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .itemDetailPrice {
    text-align: center;
  }
  .buttonToCart {
    color: blue;
    background-color: white;
    border-color: blue;
    border-radius: 3px;
  }
}
