.itemContainer {
  display: flex;
  background-color: rgb(201, 201, 201);
  padding: 1.5%;
}

.itemDetailImage {
  height: 400px;
  width: 400px;
  border-style: solid;
  border-color: black;
  margin: 2.5%;
}

.itemDetailDescription {
  margin: 2.5%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.itemDetailName {
  text-align: center;
  text-transform: uppercase;
}

.itemDetailPrice {
  text-align: center;
}
