.itemDetailContainer {
  background-color: rgb(242, 232, 207);
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 0;
  .itemDetailContainerTitle {
    margin: 0;
    padding: 1.5%;
  }
}
