.itemDetailContainer {
  background-color: rgb(202, 240, 248);
  border-top: groove;
  border-color: rgb(0, 119, 182);
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 0;
  .itemDetailContainerTitle {
    margin: 0;
    padding: 1.5%;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
