#cartListItem {
  border-radius: 40%;
  .cartContainer {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 100%;
    .cartLogo {
      width: 30px;
      height: 30px;
      justify-self: center;
      align-self: center;
    }
  }
}
