.containerList {
  background-color: rgb(242, 232, 207);
  border: dotted;
  border-color: pink;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  .title {
    font-size: 30px;
    padding: auto;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: red;
  }
}
