.containerList {
  background-color: rgb(202, 240, 248);
  border-top: groove;
  border-color: rgb(0, 119, 182);
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  .title {
    font-size: 30px;
    padding: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "lucida console";
  }
}
