.productCard {
  width: 30%;
  margin: 5px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px;
  border-style: solid;
  background-color: white;
  .cardLink {
    color: black;
    .productName {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    .imgContainer {
      display: flex;
      justify-content: center;
      .imgProduct {
        justify-self: center;
        aspect-ratio: 1/1;
        height: 100%;
        width: 100%;
        min-width: 100px;
        max-height: 250px;
        max-width: 250px;
      }
    }
    .price {
      text-align: center;
      font-weight: bold;
    }
    .seeMore {
      text-align: center;
    }
  }
}
